<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--aop注解的方式-->
    <aop:aspectj-autoproxy/>
    <!--<context:component-scan base-package="com.spring.test.impl"/>-->
    <!--配置商品的bean-->
    <bean id="orderDao" class="com.primeton.test.OrderDao"/>
    <!--通知-->
    <bean id="myAspect" class="com.primeton.test.MyAspect"/>
    <!--配置aop-->
   <!-- <aop:config>
        &lt;!&ndash;切入点&ndash;&gt;
        <aop:pointcut expression="execution(* com.primeton.test.ProductDaoImpl.save(..))"  id="product"/>
        &lt;!&ndash;配置切面&ndash;&gt;
        <aop:aspect ref="myAspect">
            <aop:before method="hello" pointcut-ref="product"/>
        </aop:aspect>
    </aop:config>-->
</beans>